<nav class="bg-dark navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" aria-current="page" href="/authors">Authors</a>
                    <a class="nav-link" href="/addAuthor">Add Author</a>
                   <a class="nav-link" href="/addQuote">Add Quote</a>
                </div>
            </div>
        </div>
    </nav>