<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>Adding a new Author</title>
</head>
<body>
    <%- include("partials/navbar.ejs") %>

    <h1> Adding New Author</h1>
    
    <form action="/addAuthor" method="POST">
        First Name : <input type="text" name="fn"> <br>
        Last Name: <input type="text" name="ln"> <br>
        Date of Birth: <input type="date" name="dob"> <br>
        <fieldset>
            <legend>Sex: </legend>
            <div>
                <input type="radio" name="sex" value="M" id="male">
                <label for="male">Male</label>
            </div>
            <div>
                <input type="radio" name="sex" value="F" id="female">
                <label for="female">Female</label>
            </div>
        </fieldset> <br>
        Biography:  <textarea name="bio"></textarea>
        <button> Add Author </button>


        <%- include("partials/navbar.ejs") %>
</body>
</html>