<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update/Delete Authors</h1>

    <% for (let i  of authors) { %>
        <a href="/updateAuthor?id=<%i.authorId%>">Update</a>
        <a href="/deleteAuthor?id=<%i.authorId%>">Delete</a>
        <%=i.firstName%> <%=i.lastName%> <br>
    <%}%>
</body>
</html>